.header {
  height: 60px;
  background-color: var(--mantine-color-bark-0);
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}

.linkLabel {
  margin-right: 5px;
}

.linkActive {
  background-color: var(--mantine-color-brand-0);
  color: var(--mantine-color-brand-7);
}
