.header {
  height: 56px;
  background-color: var(--woodland-card);
  border-bottom: 1px solid light-dark(
    var(--woodland-border),
    var(--mantine-color-dark-4)
  );
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.linkLabel {
  margin-right: 5px;
}

.linkActive {
  background-color: light-dark(
    var(--mantine-color-brand-0),
    var(--mantine-color-dark-6)
  );
  color: var(--mantine-color-brand-7);
}
